<!-- heroe-tarjeta.component.html -->

<div class="card">
    <img [src]="heroe.img" class="card-img-top" alt="img de {{heroe.nombre}}">
    <div class="card-body">
        <h5 class="card-title text-center">{{heroe.nombre}}</h5>
        <p class="card-text bio text-center">{{heroe.bio}}</p>
        <p class="card-text"><strong>Aparición:</strong> {{heroe.aparicion}}</p>
        <p class="card-text"><strong>Casa: </strong>{{heroe.casa}}</p>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            
            <button type="button" (click)="verHeroe(heroe.id)" class="btn btn-primary">Ver Más</button>
            <button type="button" (click)="verFotosHeroe(heroe.id)" class="btn btn-warning">Ver Fotos</button>
        </div>
    </div>
</div>