<div class="container" style="padding-top: 20px;">
    <h1>Lista de Multimedias (CRUD)</h1>
    
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="Third group">
            <button [routerLink]="['/editar-multimedia', 'nuevo']" type="button" class="btn btn-outline-success">
                <i class="fa fa-plus"></i>Nueva Multimedia
            </button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Imagen</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let multimedia of multimedias; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                    <img *ngIf="multimedia.url" [src]="multimedia.url" style="max-height: 100px;">
                </td>                  
                <td>
                    <button  *ngIf="multimedia._id" type="button" class="btn btn-warning btn-block" (click)="editarMultimedia(multimedia._id)">
                    <i class="fa fa-edit"></i> Editar
                    </button>
                    <button type="button" class="btn btn-danger btn-block" (click)="eliminarMultimedia(multimedia)">
                    <i class="fa fa-trash"></i> Eliminar
                    </button>
                </td>
                </tr>
            </tbody>              
    </table>
</div>